{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="../static/images/logo.png">
        <title>Code bằng chân</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- css -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/css/bootstrap.min.css' %}" >  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <!-- js -->
        <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>  
        <script type="text/javascript" src="{% static 'js/myjs.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    </head>
    <body>
        <div class="my-container">
            <!-- start statistical -->
            <div class="row statistical-page">
                <div class="menu col-xl-2">
                    <div class="logo-header">
                        <img src="../static/images/logo.png" class="logo" alt=""/>
                        <img src="../static/images/web_name.png" class="name" alt=""/>
                    </div>
                    <ul class="main-menu">
                        <li><a href="/">Chọn File</a></li>
                        <li><a href="/statistical">Thống kê</a></li>
                        <li><a href="/ab">Trình bày</a></li>
                        <li><a href="/abc">Xuất PDF</a></li>
                    </ul>
                </div>
                <div class="statistical-content col-xl-12">
                    <div class="row">
                        {% block main-content %}

                        {% endblock main-content %}
                    </div>
                </div>
            </div>
            <!-- end statistical -->

        </div>
    </body>
</html>