{% extends 'base.html' %}
{% load static %}

{% block main-content %}

<div class="guide">
    <div class="border-circle">
        <i class="fa-solid fa-question"></i>
        <div class="guide-content">
            <div id="triangle-up-1"></div>
            <div id="triangle-up-2"></div>
            <p>Thân gửi thủ khoa xà lơ rất xà lơ Thân gửi thủ khoa xà lơ rất xà lơ Thân gửi thủ khoa xà lơ rất xà lơ </p>
        </div>
    </div>
    <div class="bubble5">
        <div class="bubble5-arrow"></div>
    </div>
</div>
<div class="form-submit" >
    <form id="form-handle-file" method="post" onsubmit="return checkFile()">
        <strong id="file-name">Chưa có tệp nào được chọn</strong>
        <input type="file" id="file-upload" class="input-file"/>
        <label for="file-upload"><i class="fa-solid fa-arrow-up-from-bracket"></i>Chọn tệp ...</label>
        <button class="btn-submit" id="btn-submit">Thống kê êi</button>
    </form>
</div>

{% endblock main-content %}
