{% extends 'base.html' %}
{% load static %}

{% block main-content %}
<h1> {{ file_name }}</h1>
<div class="col-xl-10 col-12 col-sm-12 div-graph">
    <div class="graph">{{ monthly_sales_graph|safe }}</div>
</div>
<div class="col-xl-10 col-12 col-sm-12 div-graph">
    <div class="graph"></div>
</div>
<div class="col-xl-10 col-12 col-sm-12 div-graph">
    <div class="graph"></div>
</div>
<div class="col-xl-10 col-12 col-sm-12 div-graph">
    <div class="graph"></div>
</div>

{% endblock main-content %}
