{% extends 'base.html' %}
{% load static %}

{% block main-content %}
<div class="col-xl-10 col-12 col-sm-12 div-graph">
    <div class="graph" id="monthly-sales">
        <div class="spinner-border text-danger css-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="col-xl-10 col-12 col-sm-12 div-graph">
    <div class="graph" id="city-sales">
        <div class="spinner-border text-danger css-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="col-xl-10 col-12 col-sm-12 div-graph">
    <div class="graph" id="product_sales_percentage_graph">
        <div class="spinner-border text-danger css-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="col-xl-10 col-12 col-sm-12 div-graph">
    <div class="graph" id="product_sold_together_graph_2">
        <div class="spinner-border text-danger css-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="col-xl-10 col-12 col-sm-12 div-graph">
    <div class="graph" id="quantity_total_sales_graph">
        <div class="spinner-border text-danger css-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="col-xl-10 col-12 col-sm-12 div-graph">
    <div class="graph">
        <div class="spinner-border text-danger css-loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/api.js' %}"></script>
{% endblock main-content %}
